.Footer{
    background-color: rgb(241, 189, 224);
    width: 100%;
    height: 400px;
    position: relative;
}
.Footin{
    position: absolute;
    background-color: rgb(87, 1, 61);
    margin-left: 150px;
    margin-top: 50px;
    margin-bottom: 50px;
    width: 900px;
    height: 300px;
    border-radius: 10px;
}
.Foot{
    width: 220px;
    height: 270px;
    margin-left: -70px;
    margin-top: -50px;
    background-image: url(/public/Footer1.PNG);
}
.input{
    border-radius: 20px;
    width: 350px;
    height: 40px;
    margin-left: 500px;
    margin-top:70px;
    border: none;
    
}
.input1{
    position: relative;
    border-radius: 20px;
    width: 170px;
    height: 40px;
    margin-left: 680px;
    margin-top:-40px;
    background-color: blueviolet;
    display: flex;
    z-index: 1;
    color: rgb(255, 255, 255);
    align-items: center;
}
.tab{
    position: relative;
    margin: 50px;
     margin-left: 450px;
color: aliceblue;
    
}
.tab1{
    position: relative;
    margin: 40px;
    margin-top:  -130px;
    margin-left: 170px;
color: aliceblue;
    }
.tab2{
    position: relative;
    margin: 50px;
    margin-top:  -145px;
    margin-left: 330px;
color: aliceblue;
    }
.FaFa{
    position: absolute;
    margin: 50px;
    margin-top:  -50px;
    margin-left: 330px;
color: rgb(132, 154, 173);
    }
